.wrapper{
    display: flex;
    width: 100%;
    align-items: center;
}

#sidebar {
    background: black;
    color: #fff;
    min-width: 125px;
    max-width: 125px;
    min-height: 100vh;
}

#sidebar.active{
    margin-left: -250px;
}